<div class="text-center bg-dark text-white" style="height: 200px; display: grid; place-content: center;">
  <h1>Welcome to Beta Blog!</h1>
</div>

<div class="container">
  <%= link_to 'New', new_article_path, class: 'btn btn-dark my-2', style: 'float: right' %>
  <%= render 'article' %>
</div>

