<div class="text-center p-2">
  <h1>User profile</h1>
</div>

<div class="container">
    <p>Username: <%= @user.try(:username) %>
    <p>Email: <%= @user.try(:email) %>

    <div><%= gravatar_for @user, size: 200 %></div>

    <div>
        <h2>Articles</h2>
        <%= render 'articles/article' %>
    </div>
</div>