<div class="container text-center p-4">
  <h1>Home Page</h1>
</div>

<div class="container bg-dark rounded" style="height: 400px; display: grid; place-content: center;">
  <h2 class="text-white my-4">Welcome to Beta Blog</h2>
  <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
</div>